/* ========== RESPONSIVO ========== */
@media (max-width: 1024px) {
    .container {
        width: 90%;
    }

    :root {
        --Title-lg: 700 36px/120% var(--font-family-asap);
        --title-md: 700 20px/120% var(--font-family-asap);
        --title-sm: 700 14px/120% var(--font-family-asap);
        --Subtitle: 400 18px/120% var(--font-family-inco);
        --Text-md: 400 14px/140% var(--font-family-text);
        --Text-sm: 400 12px/140% var(--font-family-text);
    }

    header {
        height: auto; /* Libera a altura fixa do header */
        padding-bottom: 64px; /* Dá espaço entre header e main */
    }

    #profile {
        width: 100%;
        padding-inline: 16px;
        box-sizing: border-box;
        margin-bottom: 40px;
    }

    #hero {
        padding-top: 80px; /* Cria distância do topo */
    }

    #list-tag {
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
        margin-bottom: 32px;
    }

    .presentation {
        margin: 40px;
    }

    .pages {
        width: 100%;
    }

    .pages > img {
        width: 100%;
        height: auto;
    }

    #grid {
        flex-direction: column;
        align-items: center;
    }

    #card-contac {
        width: 100%;
    }

    .redes-contact {
        width: 90%;
    }
}


@media (max-width: 768px) {
    :root {
        --Title-lg: 700 26px/120% var(--font-family-asap);
        --title-md: 700 18px/120% var(--font-family-asap);
        --title-sm: 700 12px/120% var(--font-family-asap);
        --Subtitle: 400 16px/120% var(--font-family-inco);
        --Text-md: 400 12px/140% var(--font-family-text);
        --Text-sm: 400 11px/140% var(--font-family-text);
    }

    #profile {
        padding-top: 2px;
        width: 100%;
        padding-inline: 16px;
        box-sizing: border-box;
    }

    #profile > h1 {
        font-size: 26px; /* ou 24px se ainda cortar */
        padding-inline: 16px; /* garante espaçamento lateral */
        box-sizing: border-box;
        text-align: center;
        word-break: break-word;
        overflow-wrap: break-word;
    }

    #profile #list-tag {
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
        margin-bottom: 32px;
        padding-bottom: 64px;
    }

    .tag {
        margin-bottom: 0;
        /* Remove o espaço vertical que estava separando demais */
    }

    #portfolio {
        grid-template-columns: 1fr;
    }

    #img-profile img:nth-child(2) {
        width: 30px;
    }

    #scroll img {
        display: none;
    }
}